<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fr_Consultoria.Properties.Settings.fr_consultoriConnectionString"
            connectionString="server=localhost;user id=root;database=fr_consultori;persistsecurityinfo=False"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>